@page "/"

@layout LoginLayout

@using System.Text.Json
@using System.Net
@using Newtonsoft.Json


@inject HttpClient http
@inject NavigationManager navigation
@inject TokenAuthenticationProvider authStateprovider

<PageTitle>Login</PageTitle>


<body class="login">

    <nav class="navbar navbar3 bg-light container-fluid d-flex p-3">
        <div class="col d-flex flex-row text-start">
            <img href="/home" src="/logo.jpg" class="logo img-fluid" />
            <p class="mx-5 text-sistemas">Asplan Sistemas</p>
        </div>

        <div class="col2 text-end d-flex px-4 text-ligue ">
            <p style="font-size:22px; margin-top:12px;">Ligue: (11) 3305-6500</p>

        </div>
        <div class="col2 text-end d-flex">
            <a href="/home" class="btn btn-primary btn-lg active btn-fale" role="button" aria-pressed="true">Fale conosco</a>
        </div>

    </nav>

    <nav class="faixa d-flex flex-row align-text-end ">
        <br />
    </nav>

    <section class=" bg-opacity-20 " style="margin-top:2%;">

        <div class="box container-fluid  ">
            <div class="container-fluid h-custom mb-3">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-6">
                        <img src="/logo.png" class="img-teste " alt="Logo Asplan Image">
                        <h2 class="text-agilidade">Agilidade e controle para sua empresa</h2>
                    </div>

                    <div class="col-md-8 col-lg-6 col-xl-3 align-content-center mb-3">

                        <Aviso Exibir="loginFalhou">

                            <h5>@Mensagem</h5>

                        </Aviso>

                        <EditForm model="userinfo" OnValidSubmit="FazerLogin">
                            <DataAnnotationsValidator />
                            <div class="divider d-flex  my-4" style="color:white;">
                            </div>
                            <div class="divider my-4" style="color:white;">
                                <h3 class="text-start fw-bold mr-2 mb-2 fs-2 mb-0">Portal 360</h3>
                                <h3 class="text-start fw-bold mr-2 fs-2 mb-0">Seja bem-vido</h3>
                            </div>



                            <!-- Email input -->
                            <div class="form-outline mb-3 " style="color:white;width:85%;">
                                <label class="form-label " for="usuario">Usuário</label>
                                <InputText @bind-Value="userinfo.Email" type="email" id="usuario" class="form-control form-control-lg" autocomplete="on" placeholder="" />
                                <ValidationMessage For="@(() => userinfo.Email)" />
                            </div>




                            <!-- Password input -->
                            <div class="form-outline mb-3 " style="color:white;width:85%;">
                                <label class="form-label " for="password">Senha</label>
                                <InputText @bind-Value="userinfo.Password" type="password" id="password" class="form-control form-control-lg" autocomplete="on" placeholder="" />
                                <ValidationMessage For="@(() => userinfo.Password)" />
                            </div>





                            <!-- Button Submit -->

                            <div class=" text-start mt-4 pt-2">
                                <button type="submit" value="Submit" class="btn btn-primary btn-lg active" aria-pressed="true">Entrar</button>
                            </div>
                        </EditForm>



                    </div>
                </div>

            </div>

        </div>

    </section>



    <div class=" footer footerx fixed-bottom pb-2 pt-3 ">
        <div class="row">
            <div class="col text-center">
                <small>© Copyright 2022 Asplan Sistemas - Soluções inteligentes na gestão de informação para sua empresa.  </small>
            </div>
            <div class="col text-end px-4">

                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-facebook-square"></i></a>
                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-instagram"></i></a>
                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-linkedin"></i></a>
                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-youtube"></i></a>
            </div>

        </div>
    </div>


</body>


@code {
    private UserInfo userinfo = new UserInfo();
    bool loginFalhou = false;

    [Parameter]
    public string Mensagem { get; set; }

    public class ResponseLogin
    {

    }

    public async Task<ResponseLogin> FazerLogin()
    {
        try
        {
            var response = await http.PostAsJsonAsync<UserInfo>("api/Login", userinfo);

            var status = response.StatusCode;

            var retorno = await response.Content.ReadAsStringAsync();

            UserResponse usuarioLogado = JsonConvert.DeserializeObject<UserResponse>(retorno);

            //Salvar ele no LocalStorage 

            if (retorno == null)
                throw new Exception("");
            else
            {
                navigation.NavigateTo("/Home");   
            }
        }
        catch (Exception ex)
        {
            loginFalhou = true;
            Mensagem = "Não foi possível realizar o Login do Usuário...";

        }
    return null;
    }

}
