@page "/"

@layout LoginLayout

<PageTitle>Login</PageTitle>


<body class="login">

    <nav class="navbar navbar3 bg-light container-fluid d-flex p-3">
        <div class="col d-flex flex-row text-start">
            <img href="/home" src="/logo.jpg" class="logo img-fluid" />
            <p class="mx-5" style="font-size:30px; margin-top:12px;">Asplan Sistemas</p>
        </div>

        <div class="col2 text-end d-flex px-4 ">
            <p style="font-size:22px; margin-top:12px;">Ligue: (11) 3305-6500</p>

        </div>
        <div class="col2 text-end d-flex">
            <a href="/home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Fale conosco</a>
        </div>

    </nav>

    <nav class="faixa d-flex flex-row align-text-end ">
        <br />
    </nav>

    <section class=" bg-opacity-20 " style="margin-top:2%;">

        <div class="box container-fluid  ">
            <div class="container-fluid h-custom mb-3">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-6">
                        <img src="/logo.png" class="img-teste " alt="Logo Asplan Image">
                        <h2>Agilidade e controle para sua empresa</h2>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-3 align-content-center mb-3">
                        <form>
                            <div class="divider d-flex  my-4" style="color:white;">
                            </div>
                            <div class="divider my-4" style="color:white;">
                                <h3 class="text-start fw-bold mr-2 mb-2 fs-2 mb-0">Portal 360</h3>
                                <h3 class="text-start fw-bold mr-2 fs-2 mb-0">Seja bem-vido</h3>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-3 " style="color:white;width:85%;">
                                <label class="form-label " for="usuario">Usuário</label>
                                <input type="email" id="usuario" class="form-control form-control-lg" autocomplete="on" placeholder="" />
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-3 " style="color:white;width:85%;">
                                <label class="form-label " for="password">Senha</label>
                                <input type="password" id="password" class="form-control form-control-lg" autocomplete="on" placeholder="" />
                            </div>
                            @* <div class="d-flex justify-content-between align-items-center">
                            <a href="#!" class="text-body">Forgot password?</a>
                            </div>*@
                            <div class=" text-start mt-4 pt-2">
                                <a href="/home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Entrar</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <div class=" footer footerx fixed-bottom pb-2 pt-3 ">
        <div class="row">
            <div class="col text-center">
                <small>© Copyright 2022 Asplan Sistemas - Soluções inteligentes na gestão de informação para sua empresa.  </small>
            </div>
            <div class="col text-end px-4">

                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-facebook-square"></i></a>
                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-instagram"></i></a>
                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-linkedin"></i></a>
                <a href="https://www.google.com/" class=" p-2 " role="button" aria-pressed="true"><i class="fa-brands fa-inverse fa-youtube"></i></a>
            </div>

        </div>
    </div>


</body>


