

.main {
  
    background: rgb(6,100,128);
    background: -moz-linear-gradient(-90deg, rgba(6,100,128,1) 0%, rgba(3,55,83,1) 36%, rgba(1,32,48,1) 60%, rgba(2,15,31,1) 81%, rgba(0,6,13,1) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(6,100,128,1) 0%, rgba(3,55,83,1) 36%, rgba(1,32,48,1) 60%, rgba(2,15,31,1) 81%, rgba(0,6,13,1) 100%);
    background: linear-gradient(-90deg, rgba(6,100,128,1) 0%, rgba(3,55,83,1) 36%, rgba(1,32,48,1) 60%, rgba(2,15,31,1) 81%, rgba(0,6,13,1) 100%);
}

.content {
    padding-top: 0px !important;
   
}
