
@inject IMenuItemService MenuItemService

<h1> Teste Isolation CSS</h1>

 @if (MenuItemService.MenuItems == null || MenuItemService.MenuItems.Count == 0)
{
    <span>Falha ao trazer a lista</span>
}
else
{


     @foreach (var item in  MenuItemService.MenuItems.GroupBy(x => x.DescMenu))
    {
        <ul>
            @listas.

            @foreach (var subitem in  item.Where(x => x.MenuId == item.First().MenuId))
            {
                <li>@subitem.Titulo            
                </li>
            }
        </ul>
    }


}







