
@inject HttpClient _http

<h1> Teste Isolation CSS</h1>

 @if (MenuItems == null || MenuItems.Count == 0)
{
    <span>Falha ao trazer a lista</span>
}
else
{


     @foreach (var item in  MenuItems.GroupBy(x => x.DescMenu))
    {
        <ul>
            

            @foreach (var subitem in  item.Where(x => x.MenuId == item.First().MenuId))
            {
                <li>@subitem.Titulo            
                </li>
            }
        </ul>
    }


}



@code{

    public List<MenuItem> MenuItems { get; set; } = new List<MenuItem>();

    protected override async Task OnInitializedAsync()
    {
        
        MenuItems = await GetMenuItems();
    }


    public async Task<List<MenuItem>> GetMenuItems()
    {
        var result = await _http.GetFromJsonAsync<List<MenuItem>>("api/menuitem");


        return result;





    }
}



